* {
    box-sizing: border-box;
}

body {
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    padding: 0;
    
}

.logo {
    width: auto;
    height: 80px;
}

.head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    
}

.re {
    display: flex;
    margin-right: auto;
   
}

.list {
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 80px;
    flex-direction: row;
    color: rgb(0, 0, 0);
    
    align-items: center;
    flex-wrap: wrap;
    margin-right: auto;
    font-size: 18px;
}


.dropdown{
    margin-right: 20px;
    display: none;
    position: relative;
    display: inline-block;
}
.dropbtn a{
text-decoration: none;
color: black;
}

.dropbtn {
    display: none;
    border: 2px solid black;
    background-color: #ffffff;
    color: black;
    padding: 16px;
    font-size: 16px;
    width: 70px;
    cursor: pointer;
    border-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
    min-height: 20px;
    min-width: 0;
    outline: none;
    padding: 12px 24px;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
    will-change: transform;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0,0.2);
    z-index: 1;
}
.dropdown-content .n {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
    
}
.dropdown:hover .dropbtn {
    background-color: rgb(255, 159, 76);
}

.n{
    display: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3 ease;
}
.n:hover, .n:active{
    background-color: #dad9d6;
    text-decoration: underline;
    transition: color 0.15s ease;
}

@media (max-width: 1040px ){
 .dropdown, .dropbtn, .n{
    display: block;
 }

 .nav-list{
    display: none;
 }

}

.rn, .f-a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color 0.3 ease;
    position: relative;
    
}
.rn:hover, .rn:active,
 .f-a:hover, .f-a:active{
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
    
}
.rn::after, .f-a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 2px; /* Thickness of the underline */
    background-color: black;
    transition: width 0.4s ease-in-out;
}

.rn:hover::after, .f-a:hover::after {
    width: 100%; /* Animates the underline width from 0 to full */
}
.phone-number {
    
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
    min-height: 20px;
    min-width: 0;
    outline: none;
    padding: 12px 24px;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    will-change: transform;
}
.phone-number:hover {
    color: #fff;
    background-color: rgb(255, 159, 76);
    border-radius: 25px;
    transform: translateY(-2px);
}
.phone-number:active {
    box-shadow: none;
    transform: translateY(0);
}



@media (max-width: 750px) {
    .nav-list {
        flex-direction: column; /* Stack nav items vertically on small screens */
        gap: 20px;
    }

    .phone-number {
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    .but-cal{
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }


    .re {
        margin-left: 0;
        justify-content: center;
    }

    .head {
        justify-content: center;
    }
    
    .logo {
        height: 60px; /* Adjust logo size for smaller screens */
    }
}


/* footer */

.footer{
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
.footer img{
    margin: 0 20px;
}
.footer ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-around; /* Center items in the list */
    margin: 0 0px;
    text-align: center;
}
.footer a {
    text-decoration: none;
    margin: 0 20px;
    
}

.twotwo{
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    padding: 40px;
    color: rgb(0, 0, 0);
    
}
.loc h2{
    font-weight: 200;
}
.loc p{
    font-weight: 100;
}
.loc a{
    color: black;
    text-decoration: none;
}
.loc a:hover{
    text-decoration: underline;
}
.footer-boxes{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}
.location{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 2px solid black;
    padding: 4px;
}
.locc{
    display: flex;
    gap: 25px;
    
}
.keep a{
    font-style: none;
    text-decoration: none;
}
.keep h2{
    font-size: 25px;
}
.keep svg:hover{
    background-color: rgba(0, 0, 0, 0.072);
    border-radius: 8px;
    padding: 2px;
}

.keep svg{
    padding: 4px;
    transform: translateY(-2px);
    transition: 0.3s;
    
}
.imgbox{
    width: fit-content;
}
@media(max-width: 600px){

    .imgbox, .d-im{
        margin-bottom: 100px;
    }

    .imgbox iframe{
        width: 300px;
        height: 400px;
    }
}



/* ABOUT PAGE */


.about{
    display: flex;
    flex-direction: column;
    background-color: #fff8ee ;

    
}
.owners{
    display: flex;
    flex-direction: column;
    
    background-color: #ffefd6 ;
}
.h-1{
    text-align: center;
    font-size: 48px;
    
    border-radius: 15px;
    padding: 10px;

    font-weight: 500;
    
    font-style: italic;
    color: #dc7500;
}



.text-below {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
    width: 100%;
}
.text-belw{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.about-text, .owner-text{
    display: flex;
    background-color: #fff8ee;
    flex-direction: column;
    flex-basis: auto;
    min-width: 600px;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: 100;    color: rgb(0, 0, 0);
    font-size: 18px;
    min-height: 500px;
}


.text-below img, .text-belw img{
    display: flex;
    flex: 1;
    max-height: fit-content;
    height: 650px;
    width: 500px;
    object-fit: cover;
    background-size: contain;
}
@media(max-width: 600px) {
    .text-below img, .text-belw img{
        height: 300px;
    }
    .about-text, .owner-text{
        min-width: fit-content;
    }
}


.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100;
    padding: 20px 0px;
    gap: 20px;
    flex-direction: column;
    background-color: #ffefd6;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("pics2/line.svg") center/cover no-repeat;;
    
}
.cta-t{
    font-size: 25px;
    color: #ff8000;
}
.cta-b{
    
    color: rgb(255, 255, 255);
    background-color: rgb(255, 136, 0);
    border: 2px solid black;
    border-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
    min-height: 20px;
    min-width: 0;
    outline: none;
    padding: 12px 24px;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    will-change: transform;
}
.cta-b:hover {
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    transform: translateY(-2px);
}
.cta-b:active {
    box-shadow: none;
    transform: translateY(0);
}
.oneoneone{
    background-color: #000;
}

/* MENU PAGE */

.menuss{
    background: linear-gradient(rgba(0, 0, 0, 0.337), rgba(0, 0, 0, 0.5)), url("pics2/Colorful\ Donut\ Promotion\ Carousel\ Instagram\ Post\ .svg") center/cover no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}

.menu-ops{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 25px;
    flex-wrap: wrap;
    border-bottom: 3px dotted  rgb(0, 0, 0);
    margin-bottom: 5px;
}

.menu-ops button{
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border: 2px solid black;
        border-radius: 25px;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        margin: 0px;
        min-height: 20px;
        min-width: 0;
        outline: none;
        padding: 12px 24px;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 200px;
        will-change: transform;
    }
    .menu-ops button:hover {
        color: #fff;
        background-color: #2e5a1a;;
        border-radius: 25px;
        transform: translateY(-2px);
    }
    .menu-ops button:active {
        box-shadow: none;
        transform: translateY(0);
    }
    
.menu-ops .reserv{
    background-color: rgb(255, 119, 0);;
    border: 2px solid rgb(255 121 0 / 70%);;
}
.menu-ops .reserv:hover{
    background-color: #000000;
    border: 2px solid black;
    color: rgb(255, 255, 255);
}

@media(max-width : 1040px){
.menu-ops {
    gap: 6px;
}

}
.b-im, .d-im{
    max-width: 100%;    /* Ensure the image does not exceed the box width */
    max-height: 100%;   /* Ensure the image does not exceed the box height */
    object-fit: cover;   /* Maintain aspect ratio while covering the area */
    margin-bottom: 92px;
}
.d-im{
    border-bottom: 3px dotted black;
    padding: 20px;
    padding-bottom: 20px;
}



/* RESERVATION PAGE */

.banner{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pics2/modern-restaurant-with-various-places.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
}
.card-container{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    max-width: 840px; 
    margin: auto 20px; 
}

.card-img{
    background: url("card-img.jpg") center/cover no-repeat;
}
.banner h2{
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 36px;
    padding-top: 60px;
    text-align: center;
}
.card-content{
    background: #fff;
    height: 330px;
    display: flex;
    flex-direction: column;

}
.card-content h3{
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select{
    color: #000000;
}
form input[type = submit]{
    color: #000000;
        background-color: rgba(249, 158, 79, 0.78);
        border: 0px solid black;
        border-radius: 0px;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 200;
        line-height: normal;
        margin: 0px;
        min-height: 20px;
        min-width: 0;
        outline: none;
        padding: px px;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    
        width: 300px;
        will-change: transform;
}
form input[type = submit]:hover{
    color: #fff;
        background-color: rgba(255, 119, 0, 0.48);
        border-radius: 0px;
        transform: translateY(-2px);
        opacity: 0.8px;
}
@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;

}
}




/* CONTACT PAGE */ 
.body{
    background-color: #dad9d666;
    min-height: 90vh;
    background: linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.089)), url("pics2/National\ Hamburger\ Day\ Red\ Yellow\ Poster\ \(500\ x\ 250\ px\).svg") center/cover no-repeat;

}
@media(max-width: 700px){
    .body{
        background: linear-gradient(rgba(255, 255, 255, 0.332), rgba(255, 255, 255, 0.125)), url("pics2/National\ Hamburger\ Day\ Red\ Yellow\ Poster\ \(500\ x\ 250\ px\)\ \(250\ x\ 500\ px\).svg") center/cover no-repeat;;
    }

    .body .contact-con{
       background-color: rgba(255, 255, 255, 0.466);    
    }

    .contact-con p{
        text-align: center;
        font-weight: 1000;
    }
}
.headin{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    padding: 3px;
    font-family: 'Poppins', sans-serif;
}
.everyting-2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.contact-contain{
    display: flex;
    flex-direction: column;
    
}
.contact-bod{
    font-size: 24px;
    border-bottom: 2px solid black;
    padding: 4px;
    
}
.contact-bod h2{
    font-weight: 200;
    text-align: center;
}
.contact-con{
    padding: 20px;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px solid black;
    background: linear-gradient(rgba(255, 255, 255, 0.425), rgba(255, 255, 255, 0.125));
    font-size: 20px;

}
.contact-con p{
    font-weight: 10;
    font-size: 20px;
    border-radius: 10px;
    
}
.contact-con a{
    color: #000000;
    font-weight: 200;
}
.contact-con a:hover{
    color: #0085ad;

}
.socials{
    display: flex;
    padding: 20px;
    gap: 10px;
}
.socials a:hover img{
    width: 50px;

}

/* APPLY PAGE */

.app{
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pics2/happy-waiter-serving-food-group-cheerful-friends-pub\ 2.jpg") center/cover no-repeat;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    
    flex-wrap: wrap;
}
.app h2{
    padding-top: 20px;
    
    font-size: 36px;
    color: white;

}
.app h4{
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(227, 227, 227);
    font-style: italic;
    text-align: center;
    font-weight: 100;
}
.form-containter{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 80vh;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 0px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media(max-width: 600px){
.form-containter{
    max-width: 400px;
}

.form{
    max-width: 400px;
}
}
.form{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    width: 100vh;
    height: auto;
    color: rgb(77, 77, 77);
    padding: 10px;
    font-weight: 150;
    font-size: 15px;
    border-radius: 10px;

}
.app input{
    height: 40px;
    border-radius: 4px;
    border: 1px solid gray;
    margin-left: 0px;
    
}
.form textarea{
    height: 200px;
   
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}
.app select{
    height: 50px;
}
.app p{
    display: flex;
    flex-direction: column;
  

}
.form input:focus::placeholder{
    color: transparent; /* Hides placeholder text on focus */
}
.sublit {
    color: #000000;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 0px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 200;
    line-height: normal;
    margin: 0px;
    min-height: 20px;
    min-width: 0;
    outline: none;
    padding: px px;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    height: 50px;
    width: 100%;
    will-change: transform;
}
.sublit:hover{
    color: #fff;
    background-color: rgb(255, 184, 121);
    border-radius: 0px;
    transform: translateY(-2px);
    opacity: 0.8px;
}
.app input[type="text"]:focus, 
.app textarea:focus, 
.app select:focus {
    outline: none;  /* Removes default outline */
    border: 3px solid #007bff92;  /* Change border color */
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  /* Adds a glow effect */
    transition: border 0.1s ease;  /* Smooth transition */
}
#resume{
    border: none;
}

    .file-sub {
        border: none !important;
        outline: none !important;
        -webkit-appearance: none !important;
        appearance: none !important;
        background-color: transparent;
        padding: 0;
        margin: 0;
    }
    
